<nav class="navbar bg-base-100 shadow-md px-6">

  <!-- LOGO -->
   <div class="flex-1">
    <a href="{% url 'acceuil_rh' %}" class="text-xl font-bold text-primary">
      RH Manager
    </a>
  </div>

  <div class="flex-none">
    <ul class="menu menu-horizontal gap-2">

      <li>
        <a href="{% url 'liste_employes' %}">👨‍💼 Employés</a>
      </li>

      <li>
        <a href="{% url 'liste_conges' %}">🏖️ Congés</a>
      </li>

      <!-- 🔥 MA PRÉSENCE -->
      <li>
        <a href="{% url 'presence' %}">⏱️ Ma présence</a>
      </li>

      <li>
        <a href="{% url 'deconnexion' %}" class="btn btn-error btn-sm">
          Déconnexion
        </a>
      </li>
    </ul>
  </div>

</nav>